@charset "utf-8";

@font-face {
    font-family: 'appleGothic';
    font-weight: 100;
    src: url(../../public/font/AppleSDGothicNeoL.ttf);
}
@font-face {
    font-family: 'appleGothicMedium';
    font-weight: 300;
    src: url(../../public/font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: 'appleGothicBold';
    font-weight: 500;
    src: url(../../public/font/AppleSDGothicNeoB.ttf);
}


*{
    font-family: 'appleGothic', 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    margin-top: 50px;
    /* border:3px solid blue; */
}
header h1 img,
header h1 a{
    width:200px;
    display: block;
    margin: 0 auto;
}
header .gnb{
    box-sizing: border-box;
    width: 1200px;
    padding:25px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

}
header .gnb li{
    font-size: 18px;
    list-style: none;
    display: inline-block;
}
header .gnb li a{
    color:black;
    text-decoration: none;
    padding:10px 10px;
    margin:0 30px;
    letter-spacing: 0.07em;
}
header .gnb li:last-child a{
    color: #fff;
    padding:15px 50px;
    font-weight: bold;
    background-color: blue;
    border-radius: 50px;
}
header .gnb li:last-child a:hover{
    background-color: black;
}
header .sign{
    position: absolute;
    right: 100px;
    top: 50px;
}
header .sign li{
    font-size: 13px;
    list-style: none;
    display: inline-block;
}
header .sign li a{
    color:black; 
    text-decoration: none;
    padding: 5px 10px;
}

/* container */
#container .main_slide img{
display: block;
    width:100%;
    overflow: hidden;
}
.contents1 {
    display:flex;
    flex-direction:row;
    width:1200px;
    margin:0 auto;
    text-align:center;
}
.phone_over_hidden{
    /* outline: 2px solid blueviolet; */
    width:350px;
    overflow: hidden;
    margin-top: 50px;
}
.phone_imgs{
    width: 1400px;
    float: left;
    transition: transform 0.5s;
}
.phone_img_wrap {
    width:350px;
    overflow: hidden;
    float: left;
}
.phone_imgs img {
    width:100%;
    float: left;
}

.phone_left{
    width:50%;
    margin-top: 100px;
    box-sizing: border-box;
}
.phone_left p{
    color:rgb(92, 92, 92);
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
.phone_left .big_txt{
    font-size: 40px;
    font-weight: bold;
    font-family: 'appleGothicMedium';
}
.phone_left p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
.phone_left .plus_group{
    margin-top: 25px;
    margin-left: 10px;
}
.phone_left .plus_group button{
    width: 30px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(249, 249, 249);
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 30px;
}
.phone_left .plus_group span{
    font-size: 20px;
    padding:0 10px;
}
.minus_btn{
    border-radius: 15px 5px 5px 15px;
}
.plus_btn{
    border-radius: 5px 15px 15px 5px;
}
.phone_left .pay_button {
    margin-top: 25px;
}
.phone_left .pay_button button{
    cursor: pointer;
    width:180px;
    padding:15px 0;
    color: #fff;
    padding:15px 50px;
    background-color: blue;
    border: 0;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 10px;
}
.phone_left .pay_button button:last-child{
    background-color: rgb(65, 65, 65);
}
.phone_left .result{
    display: inline-block;
    width: 20px;
    text-align: center;
    position:relative;
    top: 3px;
    color: rgb(70, 70, 70);
}
.sum_group{
    border-top:1px dashed rgb(223, 223, 223);
    padding-top: 15px;
    width:300px;
    margin: 0 auto;
    margin-top: 15px;
}
.sum_result{
    width:150px;
    display: inline-block;
    text-align: right;
    font-family: 'appleGothicBold';
    font-size: 27px;
    color:blue;
}
.sum_hap, .sum_won{
    font-weight: 700;
    font-size: 20px;
    position:relative;
    bottom:2px;
}

.phone_right{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width: 50%;
    margin-top: 30px;
    box-sizing: border-box;
}

.color_group{
    width:350px;
    margin-top: 2%;
}
.color{
    margin:0 10px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    border:5px solid #fff;
    outline: 1px solid #CCC ;
}
.color:hover{
    outline: 3px solid #ccc;
}
.color:last-child{
    margin-left:5px;
}
.yellow{
    background-color: #E3DECA;
}
.green{
    background-color: #303D3C;
}
.purple{
    background-color: #eeebf2;
}
.contents2{
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}


.spec_group{
    display: flex;
    flex-direction: row;
}
.spec_left_group{
    width:500px;
}
.spec_left_txt{
    display: flex;
    flex-direction: row;
    width:500px;
    list-style: none; 
    justify-content: space-around;
}


.spec_left_txt li .active{
    background-color: rgb(214, 226, 254);
    font-weight: 600;
    color:black;
}
.spec_left_txt li a{
    color:rgb(109, 109, 109);
    text-decoration: none;
    background-color: fff;
    padding:8px 20px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid rgb(109, 109, 109);
}
.spec_left_img_group{
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    position:relative;
    background-color: #f5f6f8;
    width:500px;
    height:420px;
}

.spec_left_img h2{
    padding: 20px 40px 10px;
    margin-top: 20px;
    font-size: 27px;
}
.spec_left_img p {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.spec_left_img img{
    display: block;
    position:absolute;
    bottom:-5px;
    width:500px;
}
.spec_right_group{
    /* outline: 1px solid blue; */
    width:600px;
    margin-left:80px;
    vertical-align: top;
}
.spec_right_group h2{
    font-size: 40px;
    font-family: 'appleGothicMedium';
    margin-top: 100px;
}
.spec_right_group p{
    font-size: 20px;
    font-weight: 300;
    margin-top:40px;
    line-height: 30px;
}

/* modal */
.modal_group{
   
    z-index: 10;
    height: 100vh;
    background:url("../../public/imgs/bespoke.jpg") no-repeat center;
    margin:150px 0;
    text-align: center;
    position:relative;
    
}

.modal_open{
    all:unset;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    
}
.modal_open img{
    width:500px;;
    margin-top: 250px;
    border: 10px solid #575459;
}
.modal{
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_overlay{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position:absolute;
}
.modal_content {
    position:relative;
    background-color: #fff;
    text-align: center;
    position: fixed;
    width:750px;
    height: 421.875px;
   
}
.hidden_modal{
    display: none;
}
.x_button{
    all:unset;
    width:40px;
    height: 40px;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    bottom:-20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.x_button:hover{
    transition: 0.7s;
    transform: scale(130%);
}
.x_button:not(:hover){
    transition: 0.7s;
    transform: scale(100%);
}
 /* footer */
.footer{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
}
#footer_logo{
    text-align: center;
}
#footer_logo img:nth-child(1){
   padding:0 10px;
}
#footer_logo span{
    position:relative;
    bottom:10px;
    font-weight: lighter;
}
.company{
    margin-top: 20px;
    text-align: center;
}
.company li{
    display: inline-block;
    padding:5px 10px;
    color:#5c5c5c;
    font-size: 13px;
}